<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>Maggie's New Cuts</title>

    <link rel="shortcut icon" href="../images/namelogo.jpg" type="image/x-icon" />

    <%- include('./partials/header.ejs') %>

  </head>

  <body>

    <!-- nav-bar -->
    <%- include('./partials/nav.ejs') %>

    <div class="header">
      <%- include('./partials/banner.ejs') %>
    </div>
  </body>
</html>
