<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>Maggie's New Cuts</title>
    <!-- header -->
    <%- include('./partials/header.ejs') %>
  </head>

  <body>

    <!-- nav-bar -->
    <%- include('./partials/nav.ejs') %>

    <div class="header">
      <div>
        <h1>MAGGIE'S CUTS</h1>
        <h2>A FINE MEN'S SALON</h2>
      </div>
      <img src="../images/clipper-razor.jpg" alt="Logo" style="width:35%;">
    </div>
  </body>
</html>
